<nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="../../../assets/img/car_title.png" style="width:100px">
    </a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item hover">
            <a class="nav-link" (click)="nagivate('user')">Customer</a>
        </li>&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item hover">
            <a class="nav-link" (click)="nagivate('serviceProvider')">Service Provider</a>
        </li>
    </ul>
</nav>

<div class="login-div margin-top-1vw col-md-3">
    <h3 class="text-center">
        <span class="badge badge-secondary ">Change Password</span>
    </h3>
    <div [formGroup]="forgetPassword">
        <div class="form-group">
            <label for="currentPassword">Current Password</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fa fa-key" aria-hidden="true"></i>
                    </span>
                </div>
                <input type="password" placeholder="Enter the password" class="form-control" id="currentPassword" formControlName="currentPassword"
                    [ngClass]="{error:forgetPassword.get('currentPassword').invalid &&forgetPassword.get('currentPassword').touched}">
            </div>
            <span class="error-text" *ngIf="forgetPassword.get('currentPassword').invalid &&forgetPassword.get('currentPassword').touched">*Required Field</span>
        </div>
        <div class="form-group">
            <label for="newPassword">New Password</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fa fa-key" aria-hidden="true"></i>
                    </span>
                </div>
                <input type="password" placeholder="Enter the password" class="form-control" id="newPassword" formControlName="newPassword"
                    [ngClass]="{error:forgetPassword.get('newPassword').invalid &&forgetPassword.get('newPassword').touched}">
            </div>
            <span class="error-text" *ngIf="forgetPassword.get('newPassword').invalid &&forgetPassword.get('newPassword').touched">*Required Field</span>
        </div>

        <div class="form-group">
            <label for="confirmPassword">New Password</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fa fa-key" aria-hidden="true"></i>
                    </span>
                </div>
                <input type="password" placeholder="Enter the password" class="form-control" id="confirmPassword" formControlName="confirmPassword"
                    [ngClass]="{error:forgetPassword.get('confirmPassword').invalid &&forgetPassword.get('confirmPassword').touched}">
            </div>
            <span class="error-text" *ngIf="forgetPassword.get('confirmPassword').invalid &&forgetPassword.get('confirmPassword').touched">*Required Field</span>
        </div>
    </div>
    <div class="btn-toolbar">
        <button type="submit" title="Please fill the required field to enable SignIn button" class="btn btn-primary btn-space" (click)="changePassword()">Save Password</button>
    </div>


</div>