<app-user-header></app-user-header>
<div class="login-div margin-top-1vw col-md-3">
    <h3 class="text-center">
        <span class="badge badge-secondary ">Change Password</span>
    </h3>
    <div *ngIf="errorMesg" class="error-message">{{errorMesg}}</div>
    <div [formGroup]="changePassword">

        <div class="form-group">
            <label for="newPassword">New Password</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fa fa-key" aria-hidden="true"></i>
                    </span>
                </div>
                <input type="password" placeholder="Enter the password" class="form-control" id="newPassword" formControlName="newPassword"
                    [ngClass]="{error:changePassword.get('newPassword').invalid ||changePassword.controls.confirmPassword?.errors?.notEqual}">
            </div>
            <span class="error-text" *ngIf="changePassword.get('newPassword').invalid &&changePassword.get('newPassword').touched">*Required Field</span>
           
        </div>

        <div class="form-group">
            <label for="confirmPassword">New Password</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fa fa-key" aria-hidden="true"></i>
                    </span>
                </div>
                <input type="password" placeholder="Enter the password" class="form-control" id="confirmPassword" formControlName="confirmPassword"
                    compareField="newPassword" [ngClass]="{error:changePassword.get('confirmPassword').invalid &&changePassword.get('confirmPassword').touched}">
            </div>
            <span class="error-text" *ngIf="changePassword.get('confirmPassword').invalid &&changePassword.get('confirmPassword').touched && !changePassword.get('confirmPassword').errors?.notEqual">*Required Field</span>
            <br>
            <span class="error-text" *ngIf="changePassword.get('confirmPassword').errors &&changePassword.get('confirmPassword').errors.notEqual">*New Password and confirm password are not equal</span>
        </div>
    </div>
    <div class="btn-toolbar">
        <button type="submit" title="Please fill the required field to enable SignIn button" class="btn btn-primary btn-space" (click)="changeUserPassword(changePassword.value.confirmPassword,changePassword.value.newPassword)">Save Password</button>
    </div>


</div>