<nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="../../../assets/img/car_title.png" style="width:100px">
    </a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="user">Customer</a>
        </li>&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
            <a class="nav-link" routerLink="serviceprovider">Service Provider</a>
        </li>
    </ul>
</nav>
<div>
    <div class="modal-body row col-md-6">
            
                <!-- <img src="https://i.pinimg.com/originals/18/0b/6c/180b6cd57c9b446f0f669eaa88b8bee3.jpg" class="rounded float-left "> -->
                <!-- <img src="https://media.istockphoto.com/photos/the-car-wash-picture-id576577842?k=6&m=576577842&s=612x612&w=0&h=nNyju7aFcanqJqRpt8bylNVS9yF_NGHV_IiFe0pV_tE=" class="col-md-6">
                <img src="http://dpluscarcare.com/images/gallery/repair1.jpg" class="col-md-6">
                <img src="https://img.wallpaper.sc/android/images/2160x1920/android-2160x1920-wallpaper_01084.jpg" class="col-md-6"> -->
            
    </div>
</div>