<div style="background-color:brown">
    <div>
        <div>
            <img class="teddy" src="../../../assets/img/sitting_panda2.png">
        </div>
        <div class="leftEyeWapper">
            <img class="lefteye" src="../../../assets/img/left_eye.png">
        </div>
        <div class="rightEyeWapper">
            <img class="righteye" src="../../../assets/img/right_eye.png">
        </div>
    </div>
    <div>
        <div class="textBox">
            <span class="text">The not Found </span>
        </div>
    </div>

</div>